html, body {
	height: 100%;
	margin: 0;
}
.leaflet-container {
	height: 1000px;
	width: 1000px;
	max-width: 100%;
	max-height: 100%;
}


/* custom lfl css  */
.marker-cluster-small {
    background-color: rgba(36, 190, 201, .6) !important;
}
.marker-cluster-small div {
    background-color: rgba(36, 190, 201, .6) !important;
}
.marker-cluster-medium {
     background-color: rgba(36, 190, 201, .6) !important;
}
.marker-cluster-medium div {
    background-color: rgba(36, 190, 201, .6) !important;
}
.marker-cluster-large {
    background-color: rgba(36, 190, 201, .6) !important;
}
.marker-cluster-large div {
	background-color: rgba(36, 190, 201, .6) !important;
}
   
/* css to customize Leaflet default styles  */
		
.leaflet-popup-content-wrapper, .leaflet-popup-tip {
    background-color: #ffffff
}
.leaflet-popup-tip-container {
    width:50px;
    height:50px;
}
	
@font-face {
    font-family: Prenton;
    src: url("C:\Users\pizza\Documents\design\Maps\banmap - combined\src\fonts\Prenton RP Pro Regular\BluHead Studio - Prenton RP Pro Regular.otf") format("opentype");
}

@font-face {
    font-family: Prenton;
    font-weight: bold;
    src: url("C:\Users\pizza\Documents\design\Maps\banmap - combined\src\fonts\Prenton RP Pro Bold\Prenton RP Pro Bold\BluHead Studio - Prenton RP Pro Bold.otf") format("opentype");
}

#map { width: 1550px; height: 1000px; }
.info { padding: 20px 28px; font: 16px/18px Prenton, Arial, sans-serif; background: white; background: rgba(255,255,255,0.8); box-shadow: 0 0 15px rgba(0,0,0,0.2); border-radius: 5px; } .info h4 { margin: 0 0 5px; color: #4d4d4d; }
.legend { text-align: left; line-height: 18px; color: #555; } .legend i { width: 18px; height: 18px; float: left; margin-right: 8px; opacity: 0.7; }

